<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="loggers.xml"/>

    <bean id="client" class="com.epam.suboch.client.Client">
        <constructor-arg value="1"/>
        <constructor-arg value="John Doe"/>
    </bean>

    <bean id="app" class="com.epam.suboch.app.App">
        <constructor-arg ref="client"/>
        <constructor-arg>
            <map>
                <entry key="INFO"
                       value-ref="consoleEventLogger"/>
                <entry key="ERROR"
                       value-ref="combinedEventLogger"/>
            </map>
        </constructor-arg>
        <constructor-arg ref="consoleEventLogger"/>
    </bean>

    <bean id="event" class="com.epam.suboch.event.Event" scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg>
            <bean class="java.text.DateFormat" factory-method="getDateTimeInstance">
                <constructor-arg value="1"/>
                <constructor-arg value="1"/>
            </bean>
        </constructor-arg>
    </bean>
</beans>